@font-face {
  src: url("../fonts/Poppins/Poppins-Black.ttf");
  font-family: Poppins;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Poppins/Poppins-BlackItalic.ttf");
  font-family: Poppins;
  font-weight: 900;
  font-style: italic;
}

@font-face {
  src: url("../fonts/Poppins/Poppins-ExtraBold.ttf");
  font-family: Poppins;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Poppins/Poppins-ExtraBoldItalic.ttf");
  font-family: Poppins;
  font-weight: 800;
  font-style: italic;
}

@font-face {
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
  font-family: Poppins;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Poppins/Poppins-BoldItalic.ttf");
  font-family: Poppins;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
  font-family: Poppins;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Poppins/Poppins-SemiBoldItalic.ttf");
  font-family: Poppins;
  font-weight: 600;
  font-style: italic;
}

@font-face {
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-family: Poppins;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Poppins/Poppins-MediumItalic.ttf");
  font-family: Poppins;
  font-weight: 500;
  font-style: italic;
}

@font-face {
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Poppins/Poppins-Italic.ttf");
  font-family: Poppins;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  src: url("../fonts/Poppins/Poppins-ExtraLight.ttf");
  font-family: Poppins;
  font-weight: 200;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Poppins/Poppins-ExtraLightItalic.ttf");
  font-family: Poppins;
  font-weight: 200;
  font-style: italic;
}

@font-face {
  src: url("../fonts/Poppins/Poppins-Thin.ttf");
  font-family: Poppins;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Poppins/Poppins-ThinItalic.ttf");
  font-family: Poppins;
  font-weight: 100;
  font-style: italic;
}

:root {
  font-size: 58px;
  font-family: 'Poppins';
  font-weight: 900;
  font-style: normal;
}

:root *, :root *::before, :root::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #333;
}
