@font-face {
  src: url("../fonts/Poppins/Poppins-Black.ttf");
  font-family: Poppins;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Poppins/Poppins-BlackItalic.ttf");
  font-family: Poppins;
  font-weight: 900;
  font-style: italic;
}

@font-face {
  src: url("../fonts/Poppins/Poppins-ExtraBold.ttf");
  font-family: Poppins;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Poppins/Poppins-ExtraBoldItalic.ttf");
  font-family: Poppins;
  font-weight: 800;
  font-style: italic;
}

@font-face {
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
  font-family: Poppins;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Poppins/Poppins-BoldItalic.ttf");
  font-family: Poppins;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
  font-family: Poppins;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Poppins/Poppins-SemiBoldItalic.ttf");
  font-family: Poppins;
  font-weight: 600;
  font-style: italic;
}

@font-face {
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-family: Poppins;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Poppins/Poppins-MediumItalic.ttf");
  font-family: Poppins;
  font-weight: 500;
  font-style: italic;
}

@font-face {
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Poppins/Poppins-Italic.ttf");
  font-family: Poppins;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  src: url("../fonts/Poppins/Poppins-ExtraLight.ttf");
  font-family: Poppins;
  font-weight: 200;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Poppins/Poppins-ExtraLightItalic.ttf");
  font-family: Poppins;
  font-weight: 200;
  font-style: italic;
}

@font-face {
  src: url("../fonts/Poppins/Poppins-Thin.ttf");
  font-family: Poppins;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Poppins/Poppins-ThinItalic.ttf");
  font-family: Poppins;
  font-weight: 100;
  font-style: italic;
}

:root {
  font-size: 58px;
  font-family: 'Poppins';
  font-weight: 900;
  font-style: normal;
}

:root *, :root *::before, :root::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #333;
}

.header__main {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: #1C59DA;
  padding: 12px;
  z-index: 100;
}

.nav__main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
}

.btn {
  background: transparent;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 8px;
  border: 1px solid #1fa29c;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transition-property: background,color;
}

.btn:hover {
  background: #1fa29c;
  color: black;
}

.login__popup {
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  flex-wrap: wrap;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: none;
}

.login__popup .login__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.login__popup form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  flex-wrap: wrap;
  padding: 40px 120px;
  background: #222;
  box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.25);
}

.login__popup form h3 {
  color: white;
  margin-bottom: 30px;
}

.login__popup input {
  color: white;
  background: linear-gradient(90deg, rgba(31, 162, 156, 0.1), rgba(31, 162, 156, 0.1)) center bottom/100% 2px no-repeat, linear-gradient(90deg, #1fa29c, #1fa29c) center bottom/0% 2px no-repeat;
  padding: 8px 12px;
  margin: 6px;
  border: none;
  outline: none;
  transition: 0.3s ease-in-out;
  transition-property: background;
}

.login__popup input:focus {
  background: linear-gradient(90deg, rgba(31, 162, 156, 0.1), rgba(31, 162, 156, 0.1)) center bottom/100% 2px no-repeat, linear-gradient(90deg, #1fa29c, #1fa29c) center bottom/100% 2px no-repeat;
}

.login__popup input:-webkit-autofill, .login__popup input:-webkit-autofill:hover, .login__popup input:-webkit-autofill:focus {
  transition: 1s background 5000s;
}

.login__popup .login__submit {
  margin-top: 30px;
}
