\:root
  //wszystkie zmienne
  font-size: 58px
  font-family: 'Poppins'
  font-weight: 900
  font-style: normal
  & *,*::before,&::after
    margin: 0
    padding: 0
    box-sizing: border-box

body
  background: #333
