$color__main: #1C59DA
$color__secondary: #1fa29c
$color__secondary10: rgba(31, 162, 156,0.1)
$transition__main: .3s ease-in-out

$Poppins: "../fonts/Poppins"

@mixin fontFace($src,$family,$weight: normal,$style: normal)
  src: url($src)
  font-family: $family
  font-weight: $weight
  font-style: $style
@font-face
  @include fontFace('#{$Poppins}/Poppins-Black.ttf',Poppins,900)
@font-face
  @include fontFace('#{$Poppins}/Poppins-BlackItalic.ttf',Poppins,900,italic)
@font-face
  @include fontFace('#{$Poppins}/Poppins-ExtraBold.ttf',Poppins,800)
@font-face
  @include fontFace('#{$Poppins}/Poppins-ExtraBoldItalic.ttf',Poppins,800,italic)
@font-face
  @include fontFace('#{$Poppins}/Poppins-Bold.ttf',Poppins,700)
@font-face
  @include fontFace('#{$Poppins}/Poppins-BoldItalic.ttf',Poppins,700,italic)
@font-face
  @include fontFace('#{$Poppins}/Poppins-SemiBold.ttf',Poppins,600)
@font-face
  @include fontFace('#{$Poppins}/Poppins-SemiBoldItalic.ttf',Poppins,600,italic)
@font-face
  @include fontFace('#{$Poppins}/Poppins-Medium.ttf',Poppins,500)
@font-face
  @include fontFace('#{$Poppins}/Poppins-MediumItalic.ttf',Poppins,500,italic)
@font-face
  @include fontFace('#{$Poppins}/Poppins-Regular.ttf',Poppins,400)
@font-face
  @include fontFace('#{$Poppins}/Poppins-Italic.ttf',Poppins,400,italic)
@font-face
  @include fontFace('#{$Poppins}/Poppins-ExtraLight.ttf',Poppins,200)
@font-face
  @include fontFace('#{$Poppins}/Poppins-ExtraLightItalic.ttf',Poppins,200,italic)
@font-face
  @include fontFace('#{$Poppins}/Poppins-Thin.ttf',Poppins,100)
@font-face
  @include fontFace('#{$Poppins}/Poppins-ThinItalic.ttf',Poppins,100,italic)

@mixin flex($justify: center,$align: center,$direction: row,$wrap: wrap)
  display: flex
  justify-content: $justify
  align-items: $align
  flex-flow: $direction
  flex-wrap: $wrap

@mixin translate($x: -50%,$y:-50%)
  transform: translate($x,$y)

@mixin inputAutofill()
  &:-webkit-autofill,&:-webkit-autofill:hover,&:-webkit-autofill:focus
    transition: 1s background 5000s
