@import '__variables.sass'
@import '__default.sass'

.header__main
  position: sticky
  top: 0
  left: 0
  width: 100%
  background: $color__main
  padding: 12px
  z-index: 100

.nav__main
  @include flex(flex-end,center)
  width: 100%

.btn
  background: transparent
  color: white
  font-size: 18px
  letter-spacing: 1px
  padding: 8px
  border: 1px solid $color__secondary
  border-radius: 8px
  outline: none
  cursor: pointer
  transition: $transition__main
  transition-property: background,color
  &:hover
    background: $color__secondary
    color: black

.login__popup
  @include translate()
  @include flex()
  position: fixed
  top: 50%
  left: 50%
  width: 100%
  height: 100%
  background: rgba(0,0,0,.25)
  display: none
  .login__form
    @include flex()
    width: 100%
    height: 100%
  form
    @include flex(center,center,column)
    padding: 40px 120px
    background: #222
    box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, .25)
    h3
      color: white
      margin-bottom: 30px
  input
    color: white
    background: linear-gradient(90deg,$color__secondary10,$color__secondary10) center bottom/ 100% 2px no-repeat,linear-gradient(90deg,$color__secondary,$color__secondary) center bottom/ 0% 2px no-repeat
    padding: 8px 12px
    margin: 6px
    border: none
    outline: none
    transition: $transition__main
    transition-property: background
    &:focus
      background: linear-gradient(90deg,$color__secondary10,$color__secondary10) center bottom/ 100% 2px no-repeat,linear-gradient(90deg,$color__secondary,$color__secondary) center bottom/ 100% 2px no-repeat
    @include inputAutofill()
  .login__submit
    margin-top: 30px
